

  @font-face {
    font-family: oxygenSans;
    src: url('../assets/Oxygen/Oxygen-Light.ttf');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    color:black;
    font-family: oxygenSans;
  }

  h1{
    font-size: 7.5vmin;
    margin-bottom: 1em;
  }

  h2{
    font-size: 4.5vmin;

  }

  h3{
    font-size: 2.85vmin;
  }

  h4{
    font-size: 2.5vmin;
  }

  .topnav{
    font-family: oxygenSans;
    font-size: 2vmin;
  }

  p {
    margin: 0;
    font-family: oxygenSans;
  }

  .subitem{
    padding-left:15%;
    padding-bottom: 4%;
    padding-top: 4%;
    width: 100%;
    border-bottom: #2d353f solid 0.1em;
  }


  span {
    font-family: oxygenSans;
    font-size: 2.5vmin;
  }

  a {
    font-family: oxygenSans;
    font-size: 2vmin;
  }

  small{
    color:black;
    font-family: oxygenSans;
    font-size: 2vmin;
  }
  select{
    height: 2em;
    font-family: oxygenSans;
    font-size: 2.5vmin;
  }
  input{
    height: 2em;
    font-family: oxygenSans;
    font-size: 2.5vmin;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2d56;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 10px black; 

  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar-vertical {
    padding-top: 20%;
    position: fixed;
    right: 0;
    top:0;
    width: 80%;
    height: 100% !important;
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #222a34;
    font-weight: 600;
    z-index: 1;
    box-shadow: 0 0 10px black; 

  }

  

  .content {
    margin-top: 2em;
    all: unset;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    line-height: 24px;
  }

  .card-container {
    all: unset;
    border-radius: 4px;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    transition: box-shadow .3s;
  }

  .content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5fafd;
  }

  

  .card-container:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  .card {
    all: unset;
    border-radius: 4px;
    background-color: #03a9f4;
    margin-top:16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: box-shadow .3s;
    line-height: 24px;
    max-width: 95%;
  }

  .card-column {
    all: unset;
    border-radius: 4px;
    background-color: #03a9f4;
    margin: 0 8px 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow .3s;
    line-height: 24px;
  }

  .card-column:hover {
    box-shadow: 0 0 11px black; 
  }

  div {
    font-family: Algerian
  }

  .border-blue{
    border: none;
    padding-bottom: 0.3em;
    border-bottom: #03a9f4 solid 3px;
  }

  .circle {
    background: #03a9f4;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    transition: box-shadow .3s;
  }

  .circle:hover {
    box-shadow: 0 0 11px black; 
  }

  .button {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #0276ab;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    width:100%;
  }

  .row{
    width: 100%;
     flex-direction: row; 
     justify-content: center; 
     align-items: center; 
     margin-top: 1em; 
     flex-wrap: wrap;
  }

  .button:hover{
    background-color: #03a9f4;
  }

  .card:hover {
    box-shadow: 0 0 11px black; 
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }


  .card.highlight-card {
    background-color: #2a2d56;
    color: white;
    font-weight: 600;
    border: none;
    max-width: 100%;
    min-width: 30%;
    transition: box-shadow .3s;
  }


  .card.highlight-card:hover {
    box-shadow: 0 0 11px black; 
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #2a2d56;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6em;
    background-color: white;
    width: 100%;
    border-top: 1px solid #e8e8e8;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    span{
      color:black;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }