<div class="toolbar" role="banner">

  <a href="https://avanteconsultoriatrib.com.br/">
    <img *ngIf="!getIsMobile()"
    style="margin: 3em;"
      width="280"
      src="assets/logo.png"
      href="https://avanteconsultoriatrib.com.br/"
    />
  </a>
    
  <a href="https://avanteconsultoriatrib.com.br/">
    <img *ngIf="getIsMobile()"
    style="margin: 3em;"
      width="200"
      src="assets/logo.png"
      href="https://avanteconsultoriatrib.com.br/"
    />
  </a>
  
  <img
  width="25"
  src="assets/menu.svg"
  *ngIf="getIsMobile() && !isOpen" (click)="openNav()"
/>

  <div class="topnav" *ngIf="!getIsMobile()">
    <a  href="https://avanteconsultoriatrib.com.br/" style="color: white; margin-right: 2em;">INICIO</a>
    <a href="https://avanteconsultoriatrib.com.br/services/" style="color: white; margin-right: 2em;">SERVIÇOS</a>
    <a href="https://avanteconsultoriatrib.com.br/seja-um-parceiro/" style="color: white; margin-right: 2em;">SEJA UM PARCEIRO</a>
    <a href="https://avanteconsultoriatrib.com.br/faq/" style="color: white; margin-right: 2em;">FAQ</a>
    <a href="https://avanteconsultoriatrib.com.br/consultoria-tributaria-e-seus-beneficios/" style="color: white;  margin-right: 2em;">CONSULTORIA TRIBUTÁRIA</a>
    <a class="border-blue" href="#" style="color: white; margin-right: 4em;">CALCULADORA</a>
  </div>


</div>

<div class="content-main" style="margin-top: 4em;">

  <div class="toolbar-vertical" *ngIf="isOpen">  

    <img
      width="25"
      src="assets/x.svg"
      style="position: fixed; top:0; right:0"
      (click)="closeNav()"

    />
    <img
        width="250"
        src="assets/logo.png"
    />
    <div style="height: 50%; width: 85%; display: flex; flex-direction: column; align-items: center; 
    justify-content: flex-start; margin-top: 10%;">
      <div class="subitem"><a href="https://avanteconsultoriatrib.com.br/" style="color: white; font-size: 2.5vmin;">INICIO</a></div>
      <div class="subitem"><a href="https://avanteconsultoriatrib.com.br/services/" style="color: white; font-size: 2.5vmin;">SERVIÇOS</a></div>
      <div class="subitem"><a href="https://avanteconsultoriatrib.com.br/seja-um-parceiro/" style="color: white; font-size: 2.5vmin;">SEJA UM PARCEIRO</a></div>
      <div class="subitem"><a href="https://avanteconsultoriatrib.com.br/faq/" style="color: white; font-size: 2.5vmin;">FAQ</a></div>
      <div class="subitem"><a href="https://avanteconsultoriatrib.com.br/consultoria-tributaria-e-seus-beneficios/" style="color: white; font-size: 2.5vmin;">CONSULTORIA TRIBUTÁRIA</a></div>
      <div class="subitem" style="background-color: #2d353f;"><a href="#" style="color: white; font-size: 2.5vmin;">CALCULADORA</a></div>
    </div>
      
  </div>

  <div *ngIf="valorRecuperado==0" class="content">
    <h1 style="margin-top: 4em;">Calculadora de Recuperação de Créditos</h1>
    <h2>Nossa calculadora fará a ESTIMATIVA do valor que sua empresa tem a receber</h2>
    <h3>Esses valores serão recuperados de forma administrativa, ou seja, sem nenhuma ação judicial!</h3>
  </div>


  <div class="card-container" style="margin-top: 10em;" *ngIf="valorRecuperado>0" id="result">
    <h1 style="margin-top: 1em;">Aqui está o resultado!</h1>
    <h3 style="margin-bottom: 2em;">A partir das informações fornecidas calculamos uma estimativa de recuperação de créditos em face da Receita Federal</h3>
    
    <div style="width: 70%;">
      <div class="card-column">
        <h3 style="color: white;">Segmento: {{segmento.nome}}</h3>
      </div>
      <div class="card-column">
        <h3 style="color: white;">Faturamento mensal: R$ {{getValorFormatado(faturamento)}}</h3>
      </div>
      <div class="card-column">
        <h3 style="color: white;">Renda bruta anual: R$ {{getValorFormatado(rendaBruta)}}</h3>
      </div>
      
      <div class="card highlight-card" style="padding: 0em; width: 100%;">
          <h2 style="color: white;  margin: 1em; font-size: 3.5vmin;">Valor aproximado a ser recuperado: R$ {{getValorFormatado(valorRecuperado)}}</h2>
      </div>
  </div>

     <span style="margin-bottom: 1em; margin-top: 1em;"><b>
          Possui interesse em recuperar esse dinheiro de volta? <a (click)="scrollDown()" style="cursor:pointer; font-size: 2.5vmin;"
          class="border-blue">Vem com a Avante!</a>
        </b>
      </span>

      <div class="row">
        <span><b>
          E o melhor: nossa comissão é uma pequena porcentagem sobre o valor recuperado e somente será cobrada no êxito do negócio,<br> quando valor for creditado em sua conta corrente.
          </b>
        </span>
      </div>

      <small>*Lembrando, esse valor calculado é um número aproximado e calculado com base nos últimos 5 anos. Ele pode sofrer alterações após uma análise mais aprofundada.</small>

      <div class="row">
        <button style="background-color: white; cursor: pointer;"
         class="border-blue" (click)="remakeCalc()" tabindex="0">
          <img
          style="margin-right: 0.5em;"
          width="15"
          src="assets/refresh.svg"
        />          
        <span style="color: black;"><b>Refazer cálculo</b></span>
        </button>
      </div>
  </div>

  <!-- -->
  <div class="card-container" *ngIf="valorRecuperado>0" style="margin: 2em; max-width: 80%;" id="result">
    <h2 style="font-size: 3vmin;">Entre em contato com nossa equipe para iniciarmos a recuperação desses impostos!</h2>
    <div style="display: flex; flex-direction: row; justify-content: center;align-items: center; flex-wrap: wrap;">
      
      <a href="https://wa.me/5521983116181">
        <div class="circle">
          <img
              style="margin: 2em;"
              width="50"
              src="assets/whatsapp.svg"
            />   
        </div>
      </a>

      <a href="mailto:atendimento@avanteconsultoriatrib.com.br">
        <div class="circle">
          <img
              style="margin: 2em;"
              width="50"
              src="assets/email.svg"
            />   
        </div>
      </a>

      <a href="https://www.facebook.com/profile.php?id=100088339837265&mibextid=ZbWKwL">
        <div class="circle">
          <img
              style="margin: 2em;"
              width="60"
              src="assets/facebook.png"
            />   
        </div>
      </a>

      <a href="https://www.instagram.com/avanteconsult/?igshid=NTdlMDg3MTY">
        <div class="circle">
          <img
              style="margin: 2em;"
              width="50"
              src="assets/instagram.svg"
            />   
        </div>
      </a>

      <a href="https://www.linkedin.com/company/avante-consultoria-tribut%C3%A1ria">
        <div class="circle">
          <img
              style="margin: 2em;"
              width="50"
              src="assets/linkedin.svg"
            />   
        </div>
      </a>

    </div>

    
  </div>
    
  <div class="content" *ngIf="valorRecuperado==0">
    <h2>Preencha algumas informações:</h2>
    <span style="margin-bottom: 2em;">(Nenhum dado será armazenado. Apenas utilizado para o cálculo a seguir)</span>
      <span *ngIf="messageError!=''" style="color: red;"><b>*{{messageError}}</b></span>
        <form #f="ngForm">
          <div class="card">
            <h3 style="margin-right: 1em; color: white;">Informe o segmento do seu negócio: </h3>
            <select name="valueCheck" [(ngModel)]="selected"
              (change)="setSegmento($event)">
                <option *ngFor="let segmento of segmentos" style="font-size: 1.2em;"
                  [value]="segmento" [selected]="segmento == selected">
                  {{ segmento }}
                </option>
              </select>
            <br>
          </div>
          <div class="card">
            <h3 style="margin-right: 1em; color: white;">Informe seu faturamento mensal:</h3>
            <h4 style="margin-right: 0.5em; color: white;">R$</h4>
            <input type="number" placeholder="0.00" step="0.01" min="0.5"
            (change)="setFaturamento($event)">
          </div>

          <div class="card">
            <h3 style="margin-right: 1em; color: white;">Informe sua renda bruta anual: </h3>
            <h4 style="margin-right: 0.5em;  color: white;">R$</h4>
            <input type="number" placeholder="0.00" step="0.01" min="0.5"
            (change)="setRendaBruta($event)">
          </div>
        </form>
        <div class="content">
          <button class="button" style="cursor: pointer;" (click)="setValorRecuperado()" >
            <img
            style="margin-right: 0.5em;"
            width="15"
            src="assets/calculator.svg"
          />  
            <span style="color: white;"><b>Calcular</b></span>
          </button>
        </div>
    </div>
 

  
    <footer>
      <span style="color: gray;">©  2023 Avante Consultoria Tributária</span>
    </footer>
  

</div>



