<label for="cars">bota zeu zegmento agui:</label>


<form #f="ngForm">
  <select name="valueCheck" [(ngModel)]="selected"
    (change)="setSegmento($event)">
      <option [ngValue]="undefined" disabled> Escolha seu segmento </option>
      <option *ngFor="let segmento of segmentos" 
        [value]="segmento" [selected]="segmento == selected">
        {{ segmento }}
      </option>
    </select>
  <input type="number" placeholder="insira seu faturamento" step="0.01"
   (change)="setFaturamento($event)">

  <input type="number" placeholder="insira sua renda bruta" step="0.01"
   (change)="setRendaBruta($event)">

   
</form>

<button (click)="getValorRecuperado()" >calcular</button> 
   <h2>MIM DE BABAI: {{valorRecuperado}}</h2>